*{
    scroll-behavior: smooth;
}

section{
    padding-top: 128px;
    position: relative;
}

section::before{
    z-index: -1;
    content: '';
    font-size: 72px;
    color: gray;
    opacity: 0.25;
    position: absolute;
    top: 20px;
    left: -50px;
    font-weight: bold;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

.home h3{
    font-size: 48px;
}

.home h1{
    font-size: 72px;
}

.btn{
    text-decoration: none;
    color: black;
    border: 3px solid black;
    border-radius: 20px;
    padding: 4px 20px;
    font-weight: bold;
}

.btn:hover{
    border: 3px solid black;
    padding: 4px 20px;
    background-color: black;
    color: white;
}

.home .arrow{
    margin-top: 64px;
}

.home .arrow img{
    margin-top: 8px;
    width: 30px;
}

#arrow{
    animation: 1s upDownArrow infinite;
}

@keyframes upDownArrow{
    0%{
        transform: translateY(0);
    }
    /* 25%{
        transform: translateY(10px);
    } */
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}

/* ----------------- About ----- */
.about::before{
    content: 'About';
}

.about-exp-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn.btn-more:hover, .btn.btn-more.active {
    border: 3px solid black;
    background-color: black;
    color: white;
    padding: 4px 20px;
}


.about-exp-item-detail{
    display: none;
}
